body {
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;
}

.facebook-logo {
    /* height: 34px; */
    width: 170px;
    align-items: flex-start;
    margin-top: 17px;
}

.top-bar {
    background-color: rgb(66, 103, 178);
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: space-between;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#facebook-slogan {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #0E385F;
  text-align: justify;
  font-weight: bold;
  margin: 40px, 0px, 0px;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.quick-easy {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 19px;
}

.p-terms {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.register-form input{
  margin: 5px;
  display: block;
}

.first-last-name {
  display: flex;
  justify-content: space-between;
}

.first-last-name > input:nth-child(1) {
  width: 50%;
}

.first-last-name > input:nth-child(2) {
  width: 50%;
}

.div-gender {
  display: flex;
  justify-content: space-between;

.facebook-login {
    margin-top: 10px;
    padding: 3px 3px 4px;
    display: flex;
    margin-right: 50px;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control {
    align-self: flex-end;
}

#button-login {
    padding: 2px 6px;
    margin-top: 16px;
}