* {
  margin: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

/* Requisito 4 */
.form-group {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.form-control {
  align-self: flex-end;
  margin: 0 5px 5px 0;
}

.main-content {
  display: flex;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.register {
  display: flex;
  flex-direction: column;
}

.fullName {
  display: flex;
}

button {
  width: 100px;
}

#erro {
  display: flex;
  justify-content: center;
  width: 131px;
  background-color: red;
  color: white;
  margin: 5px;
}

#container {
  display: flex;
  flex-wrap: wrap;
}
