.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}

.facebook-logo {
  align-self: flex-start;
}

.facebook-login {
  display: flex;
  align-self: flex-end;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  display: flex;
  align-self: flex-end;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.nome-sobrenome {
  display: inline-block;
  width: 45%;
}

#label-birthdate {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.generos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
}
