* {
  margin: 0;
  padding: 0;
  border: 0;
}

#body-content {
  margin: 0 50px;
}

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  justify-content: space-around;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

#label-gender {
  display: block;
}
