* {
  margin: 0;
  padding: 0;
  border: 0;
}

#body-content {
  margin: 0 50px;
}

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: white;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  justify-content: center;
  background: linear-gradient(white, #d3d8e8);
}

.left-content {
  width: 800px;
}

.right-content {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#label-gender , #label-birthdate {
  display: block;
}

#form-invalid {
  display: block;
  color: red;
}

#footer {
  display: flex;
  flex-flow: column;
}

li {
  list-style: none;
  padding: 5px;
  font-size: 10px;
}

.localeSelectorList , .pageFooterLinkList {
  display: flex;
  flex-wrap: wrap;
}

.contentCurve {
  height: 2px;
}
