* {
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  direction: ltr;
  color: #1c1e21;
  line-height: 1.34;
  padding: 0;
}

.top-bar {
  padding-top: 13px;
  display: flex;
  background-color: rgb(66, 103, 178);
  height: 75px;
  align-items: center;
  justify-content: space-between;
}

.facebook-logo {
  position: absolute;
  width: 170px;
}

.login-container {
  padding-left: 65%;
}

a {
  cursor: pointer;
  color: #9fb5e6;
  font-size: 12px;
  padding-top: 8px;
}

label {
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding-left: 1px;
  vertical-align: middle;
  padding-bottom: 4px;
}

a:hover {
  text-decoration: underline;
}

.label {
  text-align: left;
}

input {
  font-size: 12px;
  text-rendering: auto;
  display: inline-block;
  text-align: start;
  cursor: text;
}

.inputtext {
  border: 1px solid #1d2a5b;
  padding: 3px;
  width: 142px;
  padding-bottom: 4px;
}

#user-email-phone {
  direction: ltr;
}

#button-login {
  background: #4267b2;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #29487d;
}

#button-login:hover {
  background: #2054bb;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 3px 3px 4px;
}

.login_form_label {
  padding-top: 4px;
  color: #9cb4d8;
  text-align: right;
}

.login_form_label a {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

.main-content {
  display: flex;
  background: linear-gradient(white, #d3d8e8);
  padding-bottom: 50px;
  justify-content: space-around;
}

.left-content {
  margin-left: 40px;
  width: 800px;
}

.right-content {
  padding-top: 20px;
  width: 300px;
}

#form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.facebook-login {
  display: flex;
  align-self: flex-end;
}

.form-control {
  align-self: flex-end;
  padding-bottom: 28px;
  padding-left: 6px;
}

.right-content form label {
  color: black;
}

#facebook-slogan {
  color: #0e385f;
  font-size: 20px;
  font-weight: 550;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
}

#nameContainer {
  display: flex;
  width: 329px;
}

.genderContainer input {
  border-style: none;
}

.inputStyle {
  width: 100%;
  height: 21px;
  padding: 8px 10px;
  font-size: 18px;
  margin: 3px;
  border-radius: 5px;
  border: 1px solid #ccd0d5;
}

h1 {
  font-size: 36px;
  color: #333;
  font-weight: 600;
  margin-bottom: 5px;
}

.quick-easy {
  color: #1d2129;
  font-size: 19px;
  padding-bottom: 20px;
}

#birthdateContainer {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 91%;
}

#birthdateContainer label {
  color: #90949c;
  font-size: 16px;
  font-weight: 600;
  padding-top: 5px;
}

.removeElement {
  display: none;
}

#label-gender {
  color: #90949c;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  padding: 0 7px 0 3px;
}

#input-ratio {
  color: #1d2129;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  padding: 0 10px 0 3px;
}

.genderContainer {
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

#facebook-register {
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 126%;
  min-width: 194px;
  padding: 7px 20px;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #2c5115;
  border: 1px solid;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0 1px 2px rgb(0 0 0 / 50%);
}

#facebook-register:hover {
  background: linear-gradient(#79bc64, #578843);
}
