* {
  margin: 0;
  padding: 0;
  top: 0;
}

.top-bar {
  display: flex;
  background-color: rgb(66 103 178);
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
  margin-right: 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.fullname-container {
  display: flex;
  margin-bottom: 5px;
  margin-top: 10px;
}

.firstName {
  width: 109px;
  margin-right: 5px;
}

.lastName {
  width: 109px;
}

.flex-item {
  margin-right: 5px;
  width: 227px;
  margin-bottom: 5px;
}

.genero-container {
  display: flex;
  flex-direction: column;
}

.genero-subcontainer {
  margin-top: 10px;
}
