body {
  width: 1366px;
  height: 768px;
}

* {
  padding: 0;
  margin: 0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(66, 103, 178);
  height: 80px;
  padding-left: 200px;
  padding-right: 150px;
}

.top-bar a {
  align-self: center;
}

.facebook-login {
  display: flex;
  align-self: flex-end;
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 4px;
  margin-bottom: 20px;
}

.form-group input {
  height: 21px;
  width: 150px;
  border: solid 1px black;
}

.form-control {
  align-self: flex-end;
}

.form-control button {
  background-color: rgb(58, 94, 166);
  padding: 3px;
  color: white;
  margin: 4px;
  margin-bottom: 20px;
}

.control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  background: linear-gradient(white, rgb(211, 216, 232));
}

.left-content {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.content-left {
  display: flex;
  flex-direction: column;
  width: 565px;
  align-items: flex-start;
  margin-right: 15px;
}

#facebook-slogan {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(14, 56, 95);
  width: 450px;
  margin-top: 40px;
  font-weight: 700;
  line-height: 29px;
  word-spacing: -1px;
}

#facebook-networking {
  border: 0;
  width: 537px;
  height: 195px;
}

.right-content {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-name {
  display: flex;
  margin-bottom: 10px;
}

.right-content h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: rgb(51, 51, 51);
  margin-top: 23px;
  margin-bottom: 8px;
  font-weight: 600;
}

.right-content p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  color: rgb(29, 33, 41);
  margin-bottom: 20px;
}

.right-content input {
  height: 21px;
  border-radius: 5px;
  border-color: rgb(189, 199, 216);
  border: 1px solid #ccd0d5;
  margin: 0;
  padding: 8px 10px;
  font-size: 18px;
  width: 377px;
}

.user-name input {
  width: 172px;
}

.user-name input:nth-child( 1 ) {
  margin-right: 11px;
}

#new-password {
  margin-top: 11px;
  margin-bottom: 20px;
}

.birthdate-content {
  display: flex;
  flex-direction: column;
}

#label-birthdate , #label-gender {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(144, 148, 156);
  font-weight: 700;
  line-height: 21px;
}

#birthdate {
  margin-top: 5px;
  width: 160px;
  margin-bottom: 10px;
}

#gender-content {
  display: flex;
}

#gender-content input {
  width: fit-content;
  margin-right: 4px;
  margin-top: 7px;
  margin-left: 8px;
}

.gender {
  visibility: hidden;
}

.gend {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(29, 33, 41);
  margin-right: 15px;
  margin-top: 11px;
}

#facebook-register {
  width: 194px;
  height: 39px;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 10px;
  background: linear-gradient(#67ae55, #578843);
  box-shadow: inset 0 1px 1px #a4e388;
  border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0 1px 2px rgb(0 0 0 / 50%);
  padding: 7px 20px;
}

#facebook-register:hover {
  background: linear-gradient(#67ae55, #6ea15a);
}
