* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.left-content {
  width: 800px;
}