* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Ubuntu, sans-serif;
  background: rgb(235, 235, 235);
}

.top-bar {
  display: flex;
  flex-direction: row;
  background-color: rgb(66, 103, 178);
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  color: white;
  height: 90px;
  border-bottom: 1px solid rgb(21, 44, 92);
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 20px;
}

.facebook-logo {
  width: 175px;
  object-fit: contain;
}

.facebook-login {
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}

.form-group input {
  height: 1.6rem;
  border-radius: 0;
  border: 1px solid black;
  width: 175px;
  padding: 2px 5px;
}

.form-group label {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-control {
  align-self: flex-end;
}

.form-control button {
  padding: 0 5px;
  background: rgb(55, 89, 158);
  color: white;
  font-weight: 700;
  height: 1.55rem;
  border: 1px solid rgb(21, 44, 92);
  width: 55px;
}

.main-content {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

.left-content {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
}

.left-content p {
  max-width: 500px;
  font-size: 22px;
  font-weight: 700;
  color: rgb(8, 24, 58);
}

.right-content {
  width: 300px;
}

.right-content h1 {
  font-size: 30px;
  color: rgb(45, 45, 45);
  margin-bottom: 10px;
}

.right-content h2 {
  font-size: 18px;
  font-weight: 400;
  color: rgb(25, 25, 25);
  margin-bottom: 20px;
}

.right-content form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.right-content form input {
  width: 100%;
  font-size: 16px;
  padding: 8px 10px;
  border-color: #bdc7d8;
  border: 1px solid #ccd0d5;
  border-radius: 5px;
  border-style: inset;
  border-image: initial;
}

.input-block {
  display: flex;
  gap: 5px;
}

.right-content form .input-block input {
  flex-basis: 50%;
}

.right-content form #label-gender , #label-birthdate {
  font-weight: 700;
  color: rgb(107, 107, 107);
  font-size: 16px;
  margin-top: 7px;
}

.right-content form button {
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  color: white;
  width: 60%;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 17px;
  border: 1px solid rgb(0, 116, 0);
  border-radius: 4px;
  text-shadow: 0 1px 2px rgb(0 0 0 / 50%);
  margin-top: 20px;
}

.right-content form .alertInvalidFields {
  font-size: 12px;
  color: rgb(187, 25, 25);
}
