* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  background-color: rgb(66, 103, 178);
  width: 100%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: rgb(66, 103, 178);
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  height: 83px;
}

.facebook-login {
  display: flex;
  align-items: stretch;
  background-color: rgb(66, 103, 178);
  max-width: 390px;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: white;
}

.loginForm input {
  border: 1px solid rgb(29, 42, 91);
  width: 150px;
  height: 20px;
  padding: 0 3px 3px 4px;
}

.facebook-logo img {
  margin-top: 16px;
  width: 100%;
  height: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  justify-content: center;
}

.form-group input {
  margin: 5px 0;
  border: 1px solid rgb(29, 42, 91);
  width: 150px;
  height: 23px;
}

#user-email-phone-label {
  width: 100%;
}

.loginUser-button {
  color: white;
  padding: 3px 5px;
  background-color: rgb(66, 103, 178);
  border: 1px solid rgb(41, 72, 125);
}

.form-control {
  height: 54%;
  align-self: flex-end;
}

#content {
  width: 100%;
  height: auto;
  background: linear-gradient(white, rgb(211, 216, 232));
}

.main-content {
  max-width: 1100px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  flex-basis: 800px;
}

.left-content {
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}

#facebook-slogan {
  width: 65%;
  height: auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: rgb(14, 56, 95);
  word-spacing: -1;
  font-weight: 700;
}

footer {
  max-width: 1100px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  color: rgb(56, 88, 152);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-top: 20px;
}

#languages li {
  list-style: none;
  display: inline;
  margin: 0 4px;
}

#options {
  margin-top: 10px;
}

#options li {
  list-style: none;
  display: inline;
  margin: 0 4px;
}

#divider {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  background-color: rgba(115, 115, 115, 0.4);
}

.right-content {
  max-width: 300px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.quick-easy {
  margin: 15px 0;
  display: block;
}

#fullname {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 0;
}

.createUser div {
  width: 100%;
}

.createUser input {
  padding: 0 5px;
}

#fullname div {
  flex-shrink: 1;
  width: 48%;
  height: auto;
}

#firstname , #lastname {
  width: 100%;
  margin-bottom: 10px;
  color: rgb(43, 44, 44);
  font: 400 18px;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  border: 1px solid rgb(189, 199, 216);
  border-radius: 5px;
}

#firstname {
  margin-right: 8px;
}

#phone_email , #password , #gender-custom {
  margin-bottom: 10px;
  color: rgb(43, 44, 44);
  font: 400 18px;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 100%;
  border: 1px solid rgb(189, 199, 216);
  border-radius: 5px;
}

#input-birthdate {
  width: 100%;
  margin-bottom: 10px;
  color: rgb(43, 44, 44);
  font: 400 18px;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  border: 1px solid rgb(189, 199, 216);
  border-radius: 5px;
}

#label-birthdate , #label-gender {
  text-align: center;
  color: rgb(144, 148, 156);
  font: 18px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin: 10px 0 5px;
}

#radios {
  margin: 5px 0 15px;
}

.createUser {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  /* visibility: none; */
}

#facebook-register {
  width: 194px;
  height: 39px;
  background: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67));
  box-shadow: inset 0 1px 1px rgb(164, 227, 136);
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 19px;
  border: 0.5px solid rgb(3, 71, 14);
  font-family: Freight Sans Bold, Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 2px rgb(0 0 0 / 50%);
}

#facebook-register:hover {
  cursor: pointer;
}

#messageInvalid {
  width: 100%;
  height: auto;
  color: red;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

#successRegister {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0;
  margin-top: 0;

  /* visibility: hidden; */
}

#successRegister h3 {
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 32px;
}

#successRegister p {
  margin: 10px 0;
}

.createUser label {
  font-size: 15px;
}

.register {
  display: block;
}
