* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}
