.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  width: 100%;
  height: 100px;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.nome-e-sobrenome {
  display: flex;
}

.input-size {
  width: 120px;
}

#label-gender {
  display: flex;
  flex-direction: row;
  font-size: 13px;
}

.labels {
  font-size: 12px;
}
