* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2%;
}

.facebook-login {
  display: flex;
  flex-basis: 50%;
}

#facebook-logo {
  flex-basis: 50%;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 12px;
  padding-right: 1%;
}

.form-control {
  display: flex;
  align-self: flex-end;
}

#button-login {
  opacity: 0.9;
  color: white;
  border: 0;
  font-size: 12px;
  font-weight: 800;
  line-height: 18px;
  margin: 0;
  padding: 2px 6px;
  white-space: nowrap;
  cursor: pointer;
  background-color: #3578e5;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to bottom, white, #d3d8e8);
}

.left-content {
  width: 800px;
  display: flex;
  flex-direction: column;
}

#facebook-networking {
  width: 537px;
  margin-right: auto;
  margin-left: auto;
}

.right-content {
  width: 300px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

#facebook-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-right: 5%;
}

h1 {
  color: #1d2129;
}

.quick-easy {
  color: #1d2129;
  font-size: 19px;
  font-weight: 400;
  direction: ltr;
  line-height: 1.34;
}

#facebook-slogan {
  color: #0e385f;
  font-size: 20px;
  font-weight: 700;
  margin-right: auto;
  margin-left: auto;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
}

.form-group-row {
  display: flex;
}

.form-group-column {
  display: flex;
  flex-direction: column;
}

#facebook-form input {
  margin-bottom: 10px;
  font-size: 1rem;
  width: 70%;
  font-weight: 400;
  color: rgb(33, 37, 41);
  background-color: white;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 0.25rem;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
}


#label-gender , #label-birthdate {
  color: rgb(144, 148, 156);
  font-size: 16px;
  font-weight: 800;
  padding: 10px;
}

#facebook-register {
  border-width: 0.3px;
  border-style: solid;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 0;
  border-color: green;
  font-family: Freight Sans Bold, Helvetica, Arial, sans-serif;
  font-weight: 800;
  background: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67)) rgb(105, 167, 78);
  font-size: 19px;
  letter-spacing: 1px;
  color: white;
  border-radius: 5px;
}

#gender-custom {
  display: none;
}

#field-gender {
  display: flex;
  flex-flow: row nowrap;
  border: none;
  justify-content: space-between;
  flex-shrink: 1;
}

