* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background-image: linear-gradient(rgb(78, 105, 162), rgb(59, 89, 152) 50%);
}

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  background-image: linear-gradient(rgb(78, 105, 162), rgb(59, 89, 152) 50%);
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.top-bar img {
  height: 100%;
}

.facebook-logo {
  margin-top: 20px;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: white;
  margin: 20px 10px 5px 0;
}

.form-group label {
  margin-bottom: 5px;
}

.recover-pass {
  margin-top: 5px;
  text-decoration: none;
  color: rgb(156, 180, 216);
}

.recover-pass:hover {
  text-decoration: underline;
}

.form-group input {
  outline: none;
  padding: 3px;
  border-color: rgb(29, 42, 91);
  border: 1px solid;
  width: 142px;
}

.form-control {
  align-self: flex-end;
  margin-bottom: 24px;
}

#button-login {
  background-color: rgb(66, 103, 178);
  border: 1px solid rgb(41, 72, 125);
  padding: 4px 5px;
  font-weight: 600;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

main {
  background: linear-gradient(white, rgb(211, 216, 232));
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.left-content {
  width: 800px;
}

#facebook-slogan {
  font-size: 20px;
  font-weight: 600;
  color: rgb(14, 56, 95);
  width: 450px;
  word-spacing: -1px;
  margin-top: 40px;
  line-height: 29px;
}

.right-content {
  width: 300px;
  margin-top: 20px;
}

.right-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: rgb(51, 51, 51);
}

.quick-easy {
  font-size: 19px;
  color: rgb(29, 33, 41);
  margin-bottom: 15px;
}

#name-content {
  display: flex;
}

#name-content input {
  border: 1px solid rgb(189, 199, 216);
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(153, 153, 153);
  width: 180px;
}

#phone-mail input , #new-pass input , #gender-input-if-true input {
  border: 1px solid rgb(189, 199, 216);
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  width: 390px;
  font-size: 18px;
  color: rgb(153, 153, 153);
}

#birthdate {
  margin-top: 10px;
}

#birthdate input {
  border: 1px solid rgb(189, 199, 216);
  border-radius: 5px;
  padding: 8px;
  margin: 5px 0 10px;
  width: 390px;
  font-size: 18px;
  color: rgb(153, 153, 153);
}

#name-content input:nth-child( 2 ) {
  margin-left: 10px;
}

#label-birthdate {
  color: rgb(144, 148, 156);
  font-size: 16px;
  font-weight: 600;

}

#label-gender {
  color: rgb(144, 148, 156);
  font-size: 16px;
  font-weight: 600;
}

.gender-select {
  display: flex;
  margin: 10px 0;
}

.gender-select label {
  font-size: 18px;
  color: rgb(29, 33, 41);
  padding: 0 20px 0 5px;
}

.nav-footer a {
  text-decoration: none;
  color: rgb(56, 88, 152);
  margin-left: 20px;
}

.nav-languages a {
  text-decoration: none;
  color: rgb(56, 88, 152);
  margin-left: 20px;
}

.create-page a {
  text-decoration: none;
  color: rgb(56, 88, 152);
}

.terms-privacy-cookies {
  margin: 10px 0 20px;
  width: 350px;
}

.terms-privacy-cookies p {
  color: rgb(119, 119, 119);
  font-size: 11px;
}

.terms-privacy-cookies a {
  text-decoration: none;
  color: rgb(56, 88, 152);
}

.terms-privacy-cookies a:hover {
  text-decoration: underline;
}

#facebook-register {
  margin-bottom: 20px;
  background: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67));
  box-shadow: inset 0 1px 1px rgb(164, 227, 136);
  padding: 7px 40px;
  font-size: 19px;
  font-weight: 600;
  color: white;
  text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
}

.create-page {
  width: 400px;
  margin: 10px 0 30px;
}

.create-page a:hover {
  text-decoration: underline;
}

.create-page p {
  color: rgb(119, 119, 119);
  font-size: 13px;
  font-weight: 600;
}

/* Footer */
footer {
  width: 1100px;
  margin: 0 auto;
}

.nav-languages {
  margin-top: 30px;
}

.nav-languages ul {
  display: flex;
  list-style: none;
  font-size: 12px;
}

.nav-languages a:hover {
  text-decoration: underline;
}

.nav-partition {
  border-bottom: 1px solid rgb(221, 223, 226);
  font-size: 1px;
  width: 1085px;
  margin: 5px 0 10px;
}

.nav-footer {
  margin-left: -20px;
}

.nav-footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 12px;
}

.nav-footer a:hover {
  text-decoration: underline;
}

.trademark {
  font-size: 11px;
  color: rgb(115, 115, 115);
  margin-top: 20px;
}
