* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(66, 103, 178);
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  align-self: flex-end;
}

.form-control {
  align-self: flex-end;
}

.facebook-login {
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: baseline;
  background: linear-gradient(white, rgb(211, 216, 232));
}

.left-content {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-content {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#form-criacao {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 25px;
}

#inputs-form {
  display: flex;
  flex-direction: column;
}

#form-name {
  display: flex;
  justify-content: space-between;
}

.right-content input {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#form-name input {
  width: 47%;
}

.right-header {
  padding-bottom: 10px;
  line-height: 40px;
  font-size: 20px;
  color: rgb(43, 43, 43);
}

#facebook-register {
  font-size: 19px;
  width: 200px;
  font-weight: 800;
  color: white;
  background: linear-gradient(#67ae55, #578843);
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border-radius: 6px;
  cursor: pointer;
  height: 40px;
}

#facebook-slogan {
  font-size: 21px;
  color: rgb(14, 56, 95);
  font-weight: 700;
}

#label-gender {
  font-weight: 700;
  color: rgb(10, 25, 2);
}

h1 {
  font-size: 35px;
}

#label-birthdate , #label-gender {
  color: rgb(121, 122, 124);
  font-weight: 900;
}

#button-login {
  background-color: rgb(66, 103, 178);
  border-radius: 5px;
  color: white;
  padding: 1px 4px;
}

#user-password-label {
  font-size: 12px;
}

#user-email-phone-label {
  font-size: 12px;
}

header img {
  width: 200px;
}

.incomplete {
  color: red;
  font-size: 17px;
}
