* {
  margin: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
