* {
  margin: 0;
  padding: 0;
}

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  height: 100px;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
  color: white;
  justify-content: space-evenly;
  border: 1px solid white;
}

.form-group {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}
