* {
  margin: 0;
  padding: 0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(66, 103, 178);
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.nameLastname {
  display: flex;
  flex-direction: row;
}

.createAccount {
  display: flex;
  flex-direction: column;
}

#radio-gender {
  display: flex;
  flex-direction: row;
}

.validateError {
  display: none;
  background-color: brown;
  color: white;
}
