.main-content {
  display: flex;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.complete-name {
  display: inline-block;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-around;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}
