* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, white, rgb(133, 122, 233));
  height: 550px;
}

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

.facebook-login input {
  display: flex;
  justify-content: flex-start;
}

.facebook-login {
  display: flex;
  font-family: sans-serif;
}

#user-email-phone-label {
  color: white;
}

#user-email-phone {
  border-color: #1d2a5b;
  margin: 0;
  width: 142px;
  padding-bottom: 4px;
  border: 1px solid #ccd0d5;
  border-radius: 0;
  font-size: 12px;
}

#user-password-label {
  color: white;
}

#user-password {
  border-color: #1d2a5b;
  margin: 0;
  width: 142px;
  padding-bottom: 4px;
  border: 1px solid #ccd0d5;
  border-radius: 0;
  font-size: 12px;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-size: small;
  margin-right: 15px;
}

.form-control {
  display: flex;
  align-self: flex-end;
}

a {
  color: white;
  font-size: smaller;
  margin: 3px;
  text-decoration: none;
  opacity: 60%;
}

#button-login {
  margin-bottom: 16px;
  background-color: #4267b2;
  border-color: #29487d;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: 18px;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  vertical-align: top;
  white-space: nowrap;
  color: white;
  border: 1px solid #ccd0d5;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 100px 0 40px;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 24px;
}

#facebook-slogan {
  color: #1d2a5b;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 600px;
  text-align: right;
}

h1 {
  color: #1c1e21;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 0;
}

h3 {
  color: #606770;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.last-first-name {
  display: flex;
  justify-content: space-between;
}

.first-name {
  width: 119px;
  margin-right: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  padding: 11px;
  background: #f5f6f7;
  border-color: #ccd0d5;
  border-radius: 5px;
  margin-top: 10px;
}

.last-name {
  width: 125px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  padding: 11px;
  background: #f5f6f7;
  border-color: #ccd0d5;
  border-radius: 5px;
  margin-top: 10px;
}

#openAccount {
  font-family: sans-serif;
}

#input-gender {
  display: none;
  font-size: 18px;
  padding: 8px 10px;
  border-color: #bdc7d8;
  border-radius: 5px;
  margin: 0;
  width: 280px;
  position: relative;
  border: 1px solid #ccd0d5;
  margin-top: 10px;
}

span {
  color: black;
  font-weight: 100;
  opacity: 60%;
  font-size: small;
}

#facebook-register {
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  height: 36px;
  overflow: hidden;
  padding: 0 32px;
  text-shadow: none;
  margin-top: 10px;
}

.phone-email {
  width: 283px;
  margin-right: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  padding: 11px;
  background: #f5f6f7;
  border-color: #ccd0d5;
  border-radius: 5px;
  margin-top: 10px;
}

.password {
  width: 283px;
  margin-right: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  padding: 11px;
  background: #f5f6f7;
  border-color: #ccd0d5;
  border-radius: 5px;
  margin-top: 10px;
}

.birthdate {
  width: 283px;
  margin-right: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  padding: 11px;
  background: #f5f6f7;
  border-color: #ccd0d5;
  border-radius: 5px;
  margin-top: 10px;
}

#label-birthdate {
  color: #606770;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 2px;
  position: relative;
  top: 5px;
  margin-left: 5px;
}

#label-gender {
  color: #606770;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 2px;
  position: relative;
  top: 5px;
  margin-left: 5px;
}

.border-gender {
  background-color: white;
  border: 1px solid #ccd0d5;
  box-sizing: border-box;
  display: inline-block;
  flex: 1 0 auto;
  font-weight: 400;
  height: 36px;
  margin: 0;
  padding: 0;
  position: relative;
  width: auto;
  border-radius: 4px;
}

#female , #male , #custom {
  box-sizing: border-box;
  color: #1c1e21;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 36px;
  padding: 0 28px 0 10px;
  width: 100%;
}

#feminino , #masculino , #personalizado {
  height: 36px;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 0;
}

.all-radio {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: auto;
  margin-top: 10px;
}
