* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 239, 247);
}

.top-bar {
  display: flex;
  padding: 20px;
  background-color: rgb(66, 103, 178);
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  color: #d3d8e8;
  margin-left: 5px;
  width: 150px;
}

.form-control {
  align-self: flex-end;
  margin-left: 5px;
}

#button-login {
  background-color: rgb(66, 103, 178);
  color: #d3d8e8;
}

#gender-container {
  display: none;
}

/* csss main */
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 700px;
  background: linear-gradient(#f0f0f0, #d3d8e8);
}

#facebook-slogan {
  font-size: 18px;
  font-family: sans-serif;
  color: rgb(15, 48, 116);
  margin: 10px;
}

#titleCadastro {
  margin-top: 15px;
  font-family: sans-serif;
}

.left-content {
  width: 800px;
  height: 300px;
}

.right-content {
  width: 300px;
}

.flex-row {
  display: flex;
}

#label-birthdate , #label-gender {
  display: block;
}

#label-birthdate {
  font-size: 12px;
  color: rgb(61, 64, 66);
  font-family: sans-serif;
}

.input-form , .quick-easy {
  margin-bottom: 10px;
  height: 29px;
}

.tam {
  width: 360px;
}

#facebook-register {
  margin-top: 20px;
  width: 140px;
  height: 30px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 15px;
  color: white;
  background-color: rgb(41, 151, 41);
}
