* {
  margin: 0;
  padding: 0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  min-height: 42px;
  background-color: rgb(66, 103, 178);
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
}


.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.flex-start {
  display: flex;
  place-self: flex-start;
}
