* {
  margin: 0;
  padding: 0;
}

.top-bar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(66, 103, 178);
  font-size: 16px;
}

.facebook-logo {
  display: flex;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: white;
}

.form-control {
  align-self: flex-end;
}

#button-login {
  width: 70px;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px;
}

.left-content {
  width: 800px;
  font-size: 22px;
  margin-right: 10px;
}

#facebook-networking {
  margin-top: 25px;
}

.right-content {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #dadff7;
  padding: 10px;
}

#facebook-form {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: row;
}

.form input {
  width: 50%;
}

#genders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#personalizeGender {
  width: 100%;
}

#facebook-register {
  margin-top: 10px;
}
