* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.facebook-logo {
  align-self: flex-start;
  text-align: left;
}

.facebook-login {
  text-align: right;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  background: linear-gradient('#d3d8e8');
  display: flex;
  height: 95vh;
  justify-content: space-around;
}

.left-content {
  width: 800px;
}

.right-content {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
}

.input-name-lastname {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.register-email {
  display: flex;
  flex-direction: column;
}

.register-password {
  display: flex;
  flex-direction: column;
}

.register-birth-date {
  display: flex;
  flex-flow: column wrap;
}

.register-gender {
  display: flex;
  flex-wrap: wrap;
}

#label-gender {
  display: flex;
  width: 100%;
}

.right-content2 {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
}

.button-register {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.facebok-slogan {
  color: aqua;
}
